body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #222;
    background-color: wheat;
    padding: 50px;
    margin: 0;
}
h1{
    margin-bottom: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: darkgreen;
}
.colors{
    gap: 20px;
    justify-content: center;
    display: flex;
}
.color-box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: background 0.5s;
}
